
@{
    Layout = null;
}

<body>
    <h1>TestPage</h1>
    <!-- Display Model within <p/> tags or create new tags, whatever...  -->
    <p>@Model.Tiles[0].Resource</p>
    <p>@Model.Tiles[1].Resource</p>
    <p>@Model.Tiles[2].Resource</p>
    <p>@Model.Tiles[3].Resource</p>
    <p>@Model.Tiles[4].Resource</p>
    <p>@Model.Tiles[5].Resource</p>
    <p>@Model.Tiles[6].Resource</p>
    <p>@Model.Tiles[7].Resource</p>
    <p>@Model.Tiles[8].Resource</p>
</body>
