@model Settingsmodel
<head>
    <link href="~/css/Settings.css" rel="stylesheet" type="text/css" />
</head>
<title class="lang" key="gSettings"></title>
<h1 class="gentitle" lang="en" key="gSettings"><span class="lang" key="gSettings"></span></h1>
@using (Html.BeginForm("BoardDisplay", "Board", FormMethod.Get))
{
<form action="" method="get" class="form-inline vertical-center">
    <div class="container text-center">
        <div class="options">
            <input class="btn btn-primary btn-lg no-padding submitbutton" type="submit" id="submit-btn" value="" onclick='@Url.Action("BoardDisplay", "Board")' ; />
            <div class="row align-items-center">
                <div class="col-xs-6"></div>
                <div class="col-xs-2"><label class="checkdesc"><span class="lang" key="Random"></span></label></div>
                <div class="col-xs-2"><label class="checkdesc"><span class="lang" key="Fixed"></span></label></div>
            </div>
            <div class="row align-items-center">
                <div class="col-xs-6"><label class="label" for="TilePlacement"><span class="lang" key="TilesAndChips"></span></label></div>
                <div class="col-xs-2">@Html.RadioButtonFor(m => m.FullyPseudoRandom, true, new { id = "BigRadio" })</div>
                <div class="col-xs-2">@Html.RadioButtonFor(m => m.FullyPseudoRandom, false, new { id = "BigRadio" })</div>
            </div>
            <div class="row align-items-center">
                <div class="col-xs-6"></div>
                <div class="col-xs-2"><label class="checkdesc">3 - 4</label></div>
                <div class="col-xs-2"><label class="checkdesc">5 - 6</label></div>
            </div>
            <div class="row align-items-center">
                <div class="col-xs-6"><label class="label" for="NumberofPlayers"><span class="lang" key="Player"></span></label></div>
                <div class="col-xs-2">@Html.RadioButtonFor(m => m.IsSmallBoard, true, new { id = "BigRadio" })</div>
                <div class="col-xs-2">@Html.RadioButtonFor(m => m.IsSmallBoard, false, new { id = "BigRadio" })</div>
                <br />
            </div>
        </div>
    </div>
    <input class="btn btn-primary btn-lg no-padding submitbutton" type="submit" id="submit-btn" value="" onclick='@Url.Action("BoardDisplay", "Board")' ; />
</form>
}

<div class="bfooter">
    <div class="row align-items-center">
    <div class="Button-lower-Left">
        @using (Html.BeginForm("index", "Home"))
        {
            <input type="image" src="images/Return.png" />
        }
    </div>
        </div>
</div>