@model Settingsmodel
<head>
    <link href="~/css/Settings.css" rel="stylesheet" type="text/css" />
</head>
<title>Generator Settings</title>
<h1 class="gentitle">
    Generator Settings
</h1>
@using (Html.BeginForm("BoardDisplay", "Board", FormMethod.Get))
{
<form action="" method="get" class="form-inline vertical-center">
    <div class="container text-center">
        <div class="options">
            <input class="btn btn-primary btn-lg no-padding submitbutton" type="submit" id="submit-btn" value="Create" onclick='@Url.Action("BoardDisplay","Board")' ; />
            <div class="row align-items-center">
                <div class="col-xs-6"></div>
                <div class="col-xs-2"><label class="checkdesc">Random</label></div>
                <div class="col-xs-2"><label class="checkdesc">Fixed</label></div>
            </div>
            <div class="row align-items-center">
                <div class="col-xs-6"><label class="label" for="TilePlacement">Tiles and Chips</label></div>
                <div class="col-xs-2">@Html.RadioButtonFor(m => m.FullyPseudoRandom, true, new { id = "BigRadio" })</div>
                <div class="col-xs-2">@Html.RadioButtonFor(m => m.FullyPseudoRandom, false, new { id = "BigRadio" })</div>
            </div>
            <div class="row align-items-center">
                <div class="col-xs-6"></div>
                <div class="col-xs-2"><label class="checkdesc">3 - 4</label></div>
                <div class="col-xs-2"><label class="checkdesc">5 - 6</label></div>
            </div>
            <div class="row align-items-center">
                <div class="col-xs-6"><label class="label" for="NumberofPlayers">Number of Players</label></div>
                <div class="col-xs-2">@Html.RadioButtonFor(m => m.IsSmallBoard, true, new { id = "BigRadio" })</div>
                <div class="col-xs-2">@Html.RadioButtonFor(m => m.IsSmallBoard, false, new { id = "BigRadio" })</div>
                <br />
            </div>
        </div>
    </div>

</form>
}